.mytitle {
        color: white;
        text-align: center;
        background-size: cover;
        background-position: center;
        width: 300px;
        height: 200px;
        border-radius: 10px;

        /* display flex를 쓸 때엔 아래 네 줄이 항상 묶여 다닙니다. */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .wrap {
        width: 300px;
        margin: 20px auto 0 auto; 
      }
      .wrap2 {
        width: 500px;
        margin: auto auto auto auto;
        text-align: center; 
      }
      .wrap3 {
        width: 600px;
        height: 100px;
         margin: 20px auto 20 auto
      }
      .wrap4 {
        width: 500px;
        height: 300px;
        margin: 50px auto auto auto;
        text-align: center;
      }
* {
  font-family: 'Song Myung', serif;
      }
